.button {
    background: #cecece;
    border-radius: 0;
    border: 0;
    height: 2em;
    line-height: 2em;
    padding: 0 15px;
    border-radius: 2px;
    color: #222;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
    background: #c5c5c5;
}

.primary.button {
    background: #0000df;
    color: #f5f5f5;
    border-bottom: 2px solid #0000bb;
}

.primary.button:hover {
    background: #0000bb;
}

.failure.button {
    background: #df0000;
    color: #f5f5f5;
    border-bottom: 2px solid #bb0000;
}

.failure.button:hover {
    background: #bb0000;
}

.success.button {
    background: #00df00;
    color: #f5f5f5;
    border-bottom: 2px solid #00bb00;
}

.success.button:hover {
    background: #00bb00;
}
