table {
    border-collapse: collapse;
    width: 100%;
}
thead, tfoot {
    background: #cecece;
    font-weight: bold;
}

td {
    border: 1px solid #777;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 10px;
}
