@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

#mainNavbar {
  background: #00d;
  height: 40px;
  display: flex;
  padding: 0 40px;
}

#mainNavbar a {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}

#mainNavbar a:hover {
  background: rgba(0,0,0,10);
}
